<html>
	<style>
		h2 {font-size:16px; text-align:right}
		p.helvetica{font-family:Arial, Helvetica, sans-serif;}
	</style>
	<body>
		<h2><p class="helvetica">Media geral: {{"%.1f" % dados['media']}}<br>
		Mediana: {{"%.1f" % dados['mediana']}}<br>
		Primeiro quartil: {{"%.1f" % dados['priquar']}}<br>
		Terceiro quartil: {{"%.1f" % dados['terquar']}}<br>
		Máximo: {{dados['maximo']}}<br>
		Minimo: {{dados['minimo']}}<br>
		Variância: {{"%.1f" % dados['variancia']}}<br>
		Desvio Padrão: {{"%.1f" % dados['despad']}}<br></p></h2>
	</body>
</html>
