<html>
	<style type="text/css">
		h3 {font-size:14px}
		p.helvetica{font-family:Arial, Helvetica, sans-serif;}
		table.mytable {table-layout: fixed; width: 75%}
	</style>
	<body>
		<table width="{{tamanho}}" border="0"><col width="325">
		<tr>
			<h3><p class="helvetica"><span style='padding-left:70px'>Questões: {{questoes}}</span></p></h3>
			<h3><p class="helvetica"><span style='padding-left:70px'>{{certas}}</span></p></h3>
			<h3><p class="helvetica"><span style='padding-left:70px'>{{erradas}}</span></p></h3></td>
		</tr>
		</table>
	</body>
</html>
