<html>
	<head>
	<title> Console: Gráfico por questão </title>
		<style type="text/css">
			table.mytable {
			table-layout: fixed;
			width:100%;
			border: 1px solid #CCC;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			} 
		   	
		   	.mytable td {
		   	white-space:normal;
		   	padding: 0px;
		   	margin: 0px;
		   	border: 1px solid #ccc;
		   	}
		</style>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(drawChart);
			function drawChart() {
			var data = google.visualization.arrayToDataTable([
				['Questao', 'Certas', 'Erradas', 'Não submeteram'],
				['', {{ certas }}, {{ erradas }}, {{ num_nao_fizeram }}],
				]);

			var options = {
				title: 'Questão {{ questao_sumarizada }}',
				colors:['#00BF00','#E30B0B','#9C9C9C'],
				vAxis: {title: 'Qtd. Alunos'}
							};

			var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
			chart.draw(data, options);
			}
		</script>
	</head>
	<body>
		<div align="center">
			<table>
				<td align ="center">
					<div id="chart_div" style="width: 850px; height: 520px;"></div>
				</td>
			</table>
		<br>
			<table class='mytable'>
				<dl><dd><tr>
					<td valign="top" align="left">
						<h3><p align="center" class='helvetica'>Submeteram certo</p></h3>
						{% for elemento in sumario1 %}
							&nbsp;<img src="http://cdn1.iconfinder.com/data/icons/splashyIcons/arrow_state_grey_right.png">
							<a class='helvetica' title="Matricula: {{ elemento }}. TT{{ alunos[elemento][1] }}, TP{{ alunos[elemento][2] }}" href='/report?data={{ datainicio }}&df={{ df }}&matriculas={{ elemento }}' style='color:#00BF00; font-weight:bold; font-size:18px; text-decoration: none;'>{{ alunos[elemento][3] }}</a><p>
						{% endfor %}
					</td>
					<td valign="top" align ="left">
							<h3><p align="center" class='helvetica'>Submeteram errado</p></h3>
						{% for elemento in sumario3 %}
							&nbsp;<img src="http://cdn1.iconfinder.com/data/icons/splashyIcons/arrow_state_grey_right.png">
							<a class='helvetica' title="Matricula: {{ elemento }}. TT{{ alunos[elemento][1] }}, TP{{ alunos[elemento][2] }}" href='/report?data={{ datainicio }}&df={{ df }}&matriculas={{ elemento }}' style='color:#E30B0B; font-weight:bold; font-size:18px; text-decoration: none;'>{{ alunos[elemento][3] }}</a><p>
						{% endfor %}
					</td>
					<td valign="top" align ="left">
							<h3><p align="center" class='helvetica'>Não submeteram</p></h3>
						{% for elemento in sumario5 %}
							&nbsp;<img src="http://cdn1.iconfinder.com/data/icons/splashyIcons/arrow_state_grey_right.png">
							<a class='helvetica' title="Matricula: {{ elemento }}. TT{{ alunos[elemento][1] }}, TP{{ alunos[elemento][2] }}" href='/report?data={{ datainicio }}&df={{ df }}&matriculas={{ elemento }}' style='color:#9C9C9C; font-weight:bold; font-size:18px; text-decoration: none;'>{{ alunos[elemento][3] }}</a><p>
						{% endfor %}
					</td>
				</tr></dd></dl>
			</table>
		</div>
	</body>
</html>
